body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.header-logo {
}
.logo-part {
}
.nav-link {
}
.address {
}
.address-link {
}