body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.link{
    text-decoration: none;
}

.header-logo {
color: ( #2E2F42);
font-size: 18px;
font-weight: 700;
line-height: 1.16px; /* 116.667% */
letter-spacing: 0.03em;
}